$headline-font: 'Lato', sans-serif;
$article-font: 'Lora', serif; 

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: $headline-font;
    padding-top: 70px;
}

#main-logo {
    height: 50px;
    margin-left: 65px;
}

#login-box, #register-box {
    box-shadow: 0px 0px 2px .25px lightgrey;
} 

.quick-look, .full-text {
    font-family: $article-font
}

.form {
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.main {
    height: 100%;
    width: 100%;
}

.form-img {
    height: 100px;
    width: 100px;
    margin: 0 auto;

    img {
        height: 100px;
    }
}

#sign-in {
    margin-right: 10px;
}

#edit-delete, #edit-edit {
    width: 100px;
}

.inputs {
    display: inline;
}

#edit-form, #delete-form {
    margin-right: 10px;
    display: inline;
    margin-bottom: 50px;
}

.log-img {
    height: 100px;
    width: 23%;
    margin: 0 auto;
    margin-bottom: 25px;

    img {
        height: 150px;
        margin: 0 auto;
    };
}


.content {
    width: 100%;
    height: 100%;
    display: block;

    .article-content{ 
        width: 67.5%;
        margin: 0 auto;
        height: 100%;
        margin-top: 25px;
        display: block;
    }

    .auth-date-views {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .author-date {
        display: block;
        margin-bottom: 25px;

        .author{
            font-weight: bold;
            font-size: 15px;
        }

        p {
            margin: 0;
            font-size: 10px;
        }
    }

    .views {
        font-size: 10px;
    }

    img {
        width: 100%;
        height: 50%;
    };

    a {
        text-decoration: none;
        font-size: 17.5px;
        &:hover {
            text-decoration: underline;
        }
    }

    .quick-look {
        margin-top: 10px;
        font-size: 18px;
        white-space: pre-line;
    }

    hr {
        margin-bottom: 25px;
    }
}

.full-text {
    margin-top: 10px;
    white-space: pre-line;
    font-size: 17.5px;
}

textarea {
    white-space: pre-line;
}

.auth-likes {
    margin-bottom: 20px;

    .author-fulltext, .likes {
        font-size: 12.5px;
        margin: 0;
    }

    .like-counter {
        margin-left: 3px;
    }
}

.bi-heart, .bi-heart-fill {
    color: red;
    &:hover {
        cursor: pointer;
    }
}
.author-fulltext {
    font-size: 12.5px;
    
}

.title {
    margin-bottom: 10px;
}

.page-title {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 10px;
}

.sep-line {
    width: 50%;
    margin: 0 auto;
    color: rgb(167, 167, 167);
    margin-bottom: 25px;
}


.create-comments {
    margin: 0;
    height: auto;
    width: 100%;
    padding-top: 15px;
}

.comment-sepline {
    margin-top: 0px;
    margin-bottom: 15px;
}

.all-comments {
    margin-top: -10px;
    width: 100%;
    height: auto;
}

.comment-user {
    margin-top: -7.5px;
    font-size: 17.5px;
    margin-bottom: 7.5px;
}

.comments {
    margin: 0;
    font-size: 15px;
}

.comment-date {
    margin-top: 7.5px;
    font-size: 10px;
}

#signinbtn, #signupbtn {
    width: 75px;
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 20px;
    margin-top: 60px;
  }
  .site-mission {
    width: 50%;
    margin-left: 65px;
  }
  .copyright {
    font-size: 12px;
    margin-left: 65px;
  }
  #footer-logo {
    height: 50px;
    margin-left: 65px;
  }
