<footer class="footer">
    <div class="footer-logo">
        <img src="https://i.ibb.co/3kdjwQM/Zashlios.png" alt="Zashlios" id="main-logo" />
    </div>
    <div class="site-mission">
        <h3>Zashlios gets you smarter, faster with news & information that matters.</h3>
    </div>
    <div class="copyright">
        <p>Copyright Zashlios Media, 2021</p>
    </div>
</footer>