<footer class="footer">
    <div class="footer-image">
        <img src="https://i.ibb.co/3kdjwQM/Zashlios.png" alt="Zashlios" id="footer-logo" />
    </div>
    <br />
    <div class="site-mission">
        <h3>Zashlios is a social news sharing website that may become a cesspit</h3>
    </div>
    <br />
    <div class="copyright">
        <p>Copyright Zashlios Media, 2021</p>
    </div>
</footer>