<nav class="navbar navbar-expand-lg bg-white navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="/home">
            <img src="https://i.ibb.co/3kdjwQM/Zashlios.png" alt="Zashlios" id="main-logo" />
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-3" action="#">
                <input id="sign-in" type="submit" class="btn btn-primary my-2 my-sm-0" value="Sign In">
            </form>
            <form class="form-inline my-2 my-lg-0" action="#">
                <input type="submit" class="btn btn-light my-2 my-sm-0" value="Sign Up">
            </form>
        </div>
    </div>
</nav>